h1 {
    color: indigo;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background: red;
    padding: 50px;
    border: 10px solid black;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}